button{
    background: none;
    border: none;
    cursor: pointer;
}
video, img{
    width: 100%;
}
a{
    color: inherit;
    &:hover{
        text-decoration: none;
    }
}
.btn{
    font-weight: bold;
    font-size: 0.7rem;
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 35px;
    border-radius: 50px;
    text-transform: uppercase;

    transition: .3s ease-in-out;
    &:hover{
        color: $black;
        background-color: $white;
        border-color: $black;
    }
    &__grey{
        background-color: $blue-grey;
        border-color: $blue-grey;
    }
}
.warrper{
    max-width: 1140px;
    padding: 0 40px;
    margin: 0 auto;
}
.menu{
    background: rgba(33, 33, 33, 0.98);
}
.gradient{
    @media screen and (min-width: 960px) {
        background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0));
    }
}
/*------ Font ------*/

.txt{
    /*color*/
    &--white{
        color: $white;
    }
    &--blue-grey{
        color: $blue-grey;
    }
    &--grey{
        color: $grey;
    }
    &--black{
        color: $black;
    }
    /*size*/
    &--rem2{
        font-size: 2rem;
    }
    &--rem4{
        font-size: 4rem;
    }
    /*position*/
    &--center{
        text-align: center;
    }
    /*weight*/
    &--fwl{
        font-weight: lighter;
    }
    /*uppercase*/
    &--upper{
        text-transform: uppercase;
    }
}

    /*individuality*/
.title-block{
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
}
.title{
    font-weight: lighter;
    font-size: 2.4rem;
    margin-bottom: 20px;
}
.small-title{
    font-size: 0.95rem;
    text-transform: uppercase;
    margin-top: 20px;
}
.big--paragraph{
    font-weight: lighter;
    @media screen and (min-width: 960px) {
        font-size: 1.5rem;
    }
}
.paragraph{
    font-size: 1rem;
    margin: 10px 0 20px;
}

/*------ thumb ------*/
.thumb{
    margin-bottom: 120px;
    &__grey{
        background-color: $grey;
    }
    @media screen and (min-width: 960px) {
        width: 33.33%;
    }
}

.thumbs{
    @media screen and (min-width: 960px) {
        padding: 40px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__thumb{
        text-align: center;
        padding: 2%;
        &__grey{
            background-color: $grey;
        }
        @media screen and (min-width: 960px) {
            width: 32%;
        }
    }
}



.block{
    @media screen and (min-width: 960px) {
        display: flex;
        align-items: center;
    }
    &--txt{
        padding: 0 5%;
        @media screen and (min-width: 960px) {
            width: 50%;
        }
    }
    &--img{
        @media screen and (min-width: 960px) {
            width: 50%;

        }
    }
}
.only-decktop{
    @media screen and (max-width: 959px) {
        display: none;
    }
}
.padx5{
    padding: 0 5%;
}
.fa{
    &--white{

    }
    &__cercle{

    }
}

.dfr{
    @media screen and (min-width: 960px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.dfrr{
    @media screen and (min-width: 960px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}
